<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>First Ejs</title>

  </head>

  <body>
    <h1>First Ejs</h1><br />
    Count : <%=count%>

  </body>

</html>
